body{
    margin: 0;
    padding: 0;
    color: #262541;
    background-color: #004080;
}
h1{
    padding: 0 1em;
    color: #ffffff;
}
form{
    padding: 0.5em 2em;
    background-color: #78b8f8;
}
.comments{
    padding: 0.5em 2em;
    margin: 15px 10px;
    background-color: #FFFFFF;
    border: 1px solid red;
}
.comments p{
    margin: 0.2em 0;
    padding: 0.5em 1em;
    background-color: #dbdbff;
}
.comment{
    padding: 0.5em 1em;
    margin: 0.6em 0;
    border: 1px solid grey;
}