<!--__author__ = "wyb"-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留言板</title>
    <link rel="stylesheet" href="/static/pure-min.css">
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>

    <h1>留言板</h1>
    <!-- 留言表单 -->
    <div class="form" id="form">
        <form class="pure-form pure-form-aligned" action="/post" method="post">
            <div class="pure-control-group">
                <label for="name">姓名:</label>
                <input id="name" name="name" type="text" class="" placeholder="请输入姓名">
            </div>
            <div class="pure-control-group">
                <label for="theme">留言主题:</label>
                <input id="theme" name="theme" type="text" class="" placeholder="请输入留言主题">
            </div>
            <div class="pure-control-group">
                <label for="content">留言内容:</label>
                <textarea id="content" name="content" rows="10" cols="50" class="" placeholder="请输入留言"></textarea>
            </div>
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </form>
    </div>
    <!-- 留言区 -->
    <div id="comments" class="comments">
        <h2>留言区:</h2>
        <!-- 若干项留言 -->
        <div class="comment">
            <h3>留言主题 - 发布时间 - 发布者</h3>
            <p>
                <span>留言内容: </span>
                just a test
            </p>
        </div>
        <div class="comment">
            <h3>留言主题 - 发布时间 - 发布者</h3>
            <p>
                <span>留言内容: </span>
                just a test
            </p>
        </div>
    </div>


</body>
</html>